.banner {
  width: 100%;
  height: 35vh;
  background-image: url(./assets/banners/greenSpace1.webp);
  background-size: cover;
  background-position: center;
}

.toolImage {
  height: 60px;
  width: 60px;
}

.App {
  min: height 110vh;
  display: flex;
  flex-direction: column;
}

.Footer {
  margin-top: auto;
}

